/* BlogDetails.module.css */

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 360px; /* Set the height of the card */


  }
  
  .card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
   
  }